@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
.carousel-caption h5, header .logo .logo-nombre {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

/* Header - Nav Bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffdd00;
  color: black;
  padding: 1rem;
  min-height: 120px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-image: radial-gradient(circle farthest-side, #f5efae, #ffdd00);
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo .logo-img {
  height: 80px;
  margin-right: 20px;
  padding-left: 20px;
}
header .logo .logo-nombre {
  margin: 1;
  position: absolute;
  left: 40%;
  top: auto;
}
header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  z-index: -1;
}
header nav ul .nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  padding-right: 10px;
  margin-right: 1.2rem;
  font-weight: 300;
}
header nav ul .nav-link:hover {
  color: #333;
  transform: scale(1.2);
}
header nav ul .nav-link::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: white;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
header nav ul .nav-link:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/* Media Querie */
@media (max-width: 1100px) {
  * {
    margin: 0;
    padding: 0;
  }
  header {
    flex-direction: column;
  }
  header .logo {
    margin-bottom: 0.5rem;
    flex-direction: column;
  }
  header .logo-nombre {
    display: none;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 15px;
  }
  header nav ul .nav-link {
    margin-bottom: 0.5rem;
  }
}
/* Hero */
.carousel-caption {
  bottom: 580px;
}
.carousel-caption h5 {
  text-transform: uppercase;
  margin-top: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

/* Sobre Nosotros */
.subtitulo {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 15px;
}

.conteiner-aboutus {
  display: flex;
  padding: 25px;
  color: black;
  align-items: center;
}
.conteiner-aboutus .aboutUs-Img {
  width: 40%;
  margin-right: 20px;
}
.conteiner-aboutus .aboutUs-texto {
  padding-left: 25px;
}

/* Grid */
.grid-item {
  position: relative;
  display: inline-block;
}
.grid-item .btn-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}
.grid-item:hover img {
  transform: scale(1.05);
}
.grid-item .img-title {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  color: white;
  font-size: 16px;
  padding: 15px 0;
  text-align: center;
  opacity: 0;
  transition: height 0.3s, opacity 0.3s;
}
.grid-item:hover .img-title {
  height: 100%;
  color: aliceblue;
  opacity: 1;
}

/* Media Querie */
@media (max-width: 767px) {
  * {
    text-decoration: none;
  }
  /* Sobre Nosotros*/
  .conteiner-aboutus {
    flex-direction: column;
  }
  .aboutUs-Img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  /* Media Querie Grid Index */
  .grid-item {
    margin-bottom: 20px;
  }
  .grid-item img {
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
  }
  footer .row {
    flex-direction: column;
  }
}
/* Media Querie Hero */
@media (max-width: 480px) {
  .carrousel-title {
    font-size: 17px;
  }
}
@media (max-width: 320px) {
  .carrousel-title {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .carrousel-p {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .carrousel-p {
    font-size: 10px;
  }
}

/* Footer */
footer {
  background-color: #f8f9fa;
  padding: 50px 0;
}
footer h3 {
  color: #343a40;
  font-weight: bold;
}
footer ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: #343a40;
}
footer ul li a:hover {
  color: #6c757d;
}
footer p {
  margin-bottom: 10px;
}
footer hr {
  border-color: #dee2e6;
}
footer p.text-center {
  margin-top: 20px;
  color: #343a40;
}
footer ul li a:hover {
  color: darkgoldenrod;
  padding-left: 7px;
}
footer .social-links {
  align-items: center;
  line-height: 40px;
  transition: all 0.5s ease;
  display: flex;
  justify-content: space-evenly;
  margin-right: auto;
}
footer .social-links a:hover {
  transform: scale(1.2);
}

/* PAGINAS */
/* Productos.html */
.container {
  text-align: center;
}
.container .title-products {
  font-size: 24px;
  margin-bottom: 20px;
}
.container .image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container .image-grid .products-img {
  flex-basis: calc(25% - 10px);
}
.container .image-grid .products-img img {
  width: 100%;
  height: auto;
}
.container .image-grid .products-img img:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

/* Media Querie*/
@media (max-width: 767px) {
  .image-grid {
    flex-direction: column;
  }
}
/* Contacto.html */
/* Carrousel */
.conteiner-contacto {
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50px;
}

.parrafo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  padding: 10px;
}

.mapa {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.redes a {
  padding: 10px;
}

.slide-logo {
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes slide {
  0% {
    translate: -100px;
  }
  100% {
    translate: 0px;
  }
}
@media (max-width: 1100px) {
  .slide-logo {
    animation-name: animacion-responsiva;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes animacion-responsiva {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
/* Fuentes de Letra */
/* Selector universal */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
